p {
color: green;
font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "Serif";
font-size: 16px: 
line-height: 18px;
width: 600px;
background-colour: antiquewhite;
padding: 20px;

}
h1, h2, h3 {
font-family: "Gotham, Helvica Neue", Helvetica, Arial, "Sana-serif";
color:cadetblue;

}
span {color: rgb (255, 0, 255);}

body{
	background-image: url("oblaci.jpg")
}

a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
	
}
a:hover{
	background-color: darkgray;
}
img{
	height: 400px;
}
